* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --espresso: #3B2418;
  --mocha: #8B5E3C;
  --caramel: #C89B5A;
  --cream: #F6EFE8;
  --ivory: #FFF9F3;
  --normal-font: 'Poppins', sans-serif;
  --coffee-font: playfair-display, serif;
}

body {
  background: url("/src/assets/banner.png") no-repeat;
  background-size: cover;
}

@media (min-width: 375px) {
  section {
    padding: 1rem 1.5rem;
  }

  .navbar,
  .nav,
  ul {
    display: flex;
  }

  .nav {
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: block;

    img {
      width: 7.5rem;
      height: auto;
    }
  }
  .nav-links, .nav-btns{
    display:none;
  }
  .nav-links ul {
    list-style: none;
  }
  .nav-links ul li a , .nav-btns .login-btn{
    text-decoration: none;
    color: var(--mocha);
    font-weight: 600;
    font-size: 1.06rem;
    letter-spacing: .5px;
  }
  .nav-btns .login-btn{
    padding: 0.5rem 1.5rem;
  }
}