@media (min-width: 768px) {

  .home{
    background: url("/src/assets/heroHr.png") no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .nav-links, .nav-btns {
    display: block;
  }
  .nav-links ul{
    width: 16rem;
    justify-content: space-between;
  }
  .nav-btns .login-btn{
    color: var(--cards);
    text-decoration: none;
    background-color: var(--primary-brown);
    border-radius: 1.5rem;
  }
  .nav-links ul li a{
    font-size: 14px;
    padding: 0.5rem 0;
  }
  .nav-links ul li a:hover{
    color: var(--main-text);
    border-bottom: 2px solid var(--accent);
  }
  .menu{
    display: none;
  }
}

@media (min-width: 1024px) {
  section{
    padding: 0 6rem 0 6rem;
  }
  .nav-links ul li a, .nav-btns .login-btn{
    font-size: 1rem;
  }
  .nav-links{
    margin-right: 12rem;

    ul{
      width: 18rem;
    }
  }
  .logo {
    img{
      width: 12rem;
      }
    }
}


