@media (min-width: 768px) {
  
  .nav-links, .nav-btns {
    display: flex;
    align-items: center;
  }
  .nav-links ul{
    width: 16rem;
    justify-content: space-between;
  }
  .nav-links ul li a{
    font-size: 0.8rem;
    font-weight: 400;
  }
  .nav-links ul li a{
    padding: 0.5rem 0;
  }
  .nav-links ul li a:hover{
    color: var(--main-text);
    border-bottom: 2px solid var(--accent);
  }
  .login-icon{
    background: var(--cards);
    padding: 0.2rem;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
  }
  .menu{
    display: none;
  }


  
  .hero-content{
    width:50%;
    justify-content: center;
  }
  .welcome-text{
    margin-top: 45%;
  }
  .hero-heading{
    font-size: 3rem;
  }
  .hero-subheading{
    line-height: 2rem;
  }
  .hero-button{
    padding: 0.5rem 1.5rem;
  }


  .product-section{
    margin-top: 30%;
  }

  .product-container{
    justify-content: space-between;
  }

  .product-heading{
    font-size: 2rem;
    margin-bottom: 8%;
  }
}

@media (min-width: 1024px) {
  section{
    padding: 0 6rem 0 6rem;
  }
  .nav-links{
    margin-right: 12rem;

    ul{
      width: 18rem;
    }
  }
  .logo {
    img{
      width: 12rem;
      }
   }

   .hero-button{
    padding: 0.8rem 2rem;
    font-size: 0.9rem;
   }
   .welcome-text{
    margin-top: 60%;
  }


  .product-section{
    margin-top: 20%;
  }
  .product-image{
    .product-img{
      width:334px;
      height:auto;
    }
  }
  .product-name{
    font-size: 1.6rem;
  }
  .product-description{
    font-size: 1.2rem;
  }
  .product-price{
    font-size: 1.2rem;
  }
  .order-button{
    font-size: 0.9rem;
  }

}


